
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*<h1>Hello World!</h1> &
        <h1>Hello @Session["name"]</h1>
        <h3>Ranking: @Session["rank"]</h3>*@

        @*<h1>Name: @ViewData["name"] </h1>*@

        @*<h1>Name: @ViewBag.name </h1>
        <h1>Id: @ViewData["id"] </h1>*@

        <h1>Name - @TempData["name"] </h1>
    </div>
</body>
</html>
